*{
    margin: 0px 0px;
    font-family:'Times New Roman', Times, serif;
    color:brown;
}
.top{
    background-color: rgb(136, 136, 84);
    border: 2px solid yellow;
    border-radius: 0px 0px 36px 36px;
}
.center{
    text-align: center;
}
.head{
    
    font-size: 3vw;
    padding-left: 3vw;
}
.nav li{
    display: inline-block;
    /* margin: 2vw 14vw; */
    width: 18%;
    /* padding-left: 8vw; */
    font-size: 2vw;
   
}
.nav li a{
    text-decoration: none;
    cursor: grab;
}
.nav li a:hover{
color: rgb(226, 10, 10);
}
.footer{position: fixed;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: rgb(136, 136, 84);
    border: 2px solid yellow;
    border-radius: 36px 36px 0px 0px;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    /* text-align: center; */
    margin: 1vw 3vw;
}
.about{
        /* text-align: center; */
        margin: 1vw 3vw;
        padding: 5vw 0vw;
}
.form input , textarea 
{   display: flex;
    margin:  2vh auto;
    width: 30%;
    padding: 1vh 10vh;
    text-align: center;
    border-radius: 4vh;
}
button{
    display: flex;
    margin: auto;
    color: black;
    font-weight: 900;
}